# venv
/venv

# __pycache__
/__pycache__

# Thrid party package -> (kivymd)
/kivymd

# .idea
/.idea

# test dir
/test

# Automate/__pycache__
/Automate/__pycache__

# Automate/coc_engine/__pycache__
/Automate/coc_engine/__pycache__

# mof_libary/__pycache__
/mof_library/__pycache__

# screens/__pycache__
/screens/__pycache__
